---
interface Props {
  title: string;
  desc: string;
  canonical?: string;
  image?: string;
}

const {
  title,
  desc,
  canonical,
  image = "https://res.cloudinary.com/antirockstars/image/upload/v1729583611/og_hzgc0b.webp",
} = Astro.props;

const determineCanonicalURL = () => {
  if (Astro.url.host.includes("localhost")) return "http://localhost:4321";
  return canonical || Astro.url.pathname;
};
const canonicalURL = new URL(determineCanonicalURL(), Astro.site);
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={desc} />

<link rel="preconnect" href="https://res.cloudinary.com" />

<link rel="canonical" href={canonicalURL} />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#121212" />

<meta
  name="keywords"
  content="postcards, spookards, IA images, creativity, movie quotes, movies, scary quotes, quotes, spooky, spooky quotes"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@__amti" />
<meta name="twitter:creator" content="@__amti" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={desc} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />

<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={desc} />
<meta property="og:url" content={Astro.url} />
<meta property="og:site_name" content="Spookards" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_AR" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/apple-touch-icon.png" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<meta name="msapplication-config" content="/browserconfig.xml" />
